*{
    letter-spacing: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    --color1: #F3EFE0;
    --shadowColor1: 0px 0px 30px var(--color1);
    --color2: #434242;
    --shadowColor2: 0px 0px 30px var(--color2);
    --color3: #222222;
    --shadowColor3: 0px 0px 30px var(--color3);
    --color4: #22A39F;
    --shadowColor4: 0px 0px 30px var(--color4);

    --shadow1: 0px 0px 30px rgba(34, 34, 34, 1);
    background-color: var(--color3);
    color: var(--color1);
    overflow: hidden;
    cursor:none;
}
.mainBoard {
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.timer{
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0;
    position: absolute;
    top: 10%;
    font-size: 10vh;
    font-weight: bold;
}
.yearDate:before {
    position: absolute;
    width: 10vw;
    border-bottom: 1px solid var(--color4);
}
.yearDate{
    height: 15vh;
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1vh;
}

.noneTitle {
    color: var(--color4);
    text-align: left;
    font-size: 2vh;

}
.daysTimer, .monthsTimer, .yearsTimer {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4vh;
    padding: 10px;
}
.mainEye{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 20%;
}
.eyeSide{
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 50px;
    border: 5px solid var(--color4);
    box-shadow: var(--shadow1);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.eyeRange {
    position: relative;
    height: 50%;
    width: 50%;
}
.eyeIn {
    margin: 0;
    position: absolute;
    border-radius: 30px;
    height: 65%;
    width: 65%;
    transform: translate(-50%, -50%);
    background-color: var(--color1);
    box-shadow: var(--shadowColor1);
    z-index: 1;
}
.eyeBlink {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}
.top, .bottom {
    left: 0;
    position: absolute;
    height: 0%;
    width: 100%;
    background-color: var(--color3);
    transition-duration: 0.1s;
    z-index: 2;
}
.top{
    top:0;
}
.bottom{
    bottom: 0;
}
.cursorImg{
    z-index: 3;
    max-width: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.05s;
}
