*{
    letter-spacing: 2px;
    font-family: calculatorFont;
}
@font-face {
    font-family: calculatorFont;
    src: url(./digital-7.ttf);
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    --color1: #141e30;
    --shadowColor1: 0px 0px 30px var(--color1);
    --color2: #243b55;
    --shadowColor2: 0px 0px 30px var(--color2);
    --color3: #F3EFE0;
    --shadowColor3: 0px 0px 30px var(--color3);
    --color4: #22A39F;
    --shadowColor4: 0px 0px 30px var(--color4);

    --shadow1: 0px 0px 20px rgba(34, 34, 34, 0.3);
    background-color: var(--color3);
    color: var(--color1);
    background: linear-gradient(-45deg, var(--color1), var(--color2));
}
.mainBoard {
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.mainCalculator{
    padding: 4% 3%;
    height: 60%;
    width: 25%;
    border-radius: 25px;
    background-color: var(--color1);
    box-shadow: var(--shadow1);
}

.screenCalculator{
    display: flex;
    height: 8%;
}
.methodFloating{
    position: absolute;
    width: 200px;
    height: 20px;
}
.methodFloatingSelection {
    visibility: hidden;
    position: absolute;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    width: 20px;
    height: 15px;
    font-size: 20px;
}
.AvtiveMethod{
    visibility: visible;
}
.hoverResultBox{ 
    padding: 0px 20px;
    font-size: 14px;
    border-radius: 5px;
    width: 15%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
    position: absolute;
    color: var(--color1);
    background-color: var(--color4);
    z-index: 1;
    transform: translateY(-100%) translateX(15%);
    transition: ease-in;
    color: var(--color3);
}
.hoverResultBox::before {
    bottom: -10px;
    position: absolute;
    right: 10px;
    content: "";
    height: 0px;
    width:0px;
    border-left: 20px solid transparent;
    border-top: 20px solid var(--color4);
    border-right: 20px solid transparent;
}   
.hoverResultBox:hover {
    visibility: visible;
}
.result{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.NumberOne, .NumberTwo{
    width: 30% ;
}
.Method{
    width: 30%;
}
.labelResult{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 40%;
    width: 100%;
}
.resultCalculator{
    color: var(--color1);
    background-color: var(--color3);
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0% 3%;
    margin: 0;
    position: relative;
    width: 77%;
    background-color: var(--color3);
    overflow: hidden;
}
.resultCalculator:hover +.hoverResultBox{
    visibility: visible;
}

.resultSecoundNumber, .resultFirstNumber, .resultMethod {
    margin-top: 5% ;
    padding: 0px 5px;
    width: 100%;
    height: 30%;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color2);
    color: var(--color3);
    transition-duration: 0.5s;
}
.resultMethod{
    font-size: 15px;
}
.resultSecoundNumber:hover, .resultFirstNumber:hover, .resultMethod:hover {
    outline: none;
    transform: translateY(-2px);
    box-shadow: var(--shadowColor1);
}
.resultSecoundNumber:focus, .resultFirstNumber:focus, .resultMethod:focus {
    outline: none;
}
.clearData, .clearDataAll{
    color: #F3EFE0;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 1.5%;
    border: none;
    background-color: var(--color4);
    width: 10%;
}

.clearData:hover, .clearDataAll:hover, .clearData:focus, .clearDataAll:focus{
    box-shadow: var(--shadowColor4);
}
.buttonsData {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 92%;
}
.buttonNumber{
    width: 78%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.number, .calculator, .methodCalculate {
    font-size: 45px;
    font-weight: 400;
    border-radius: 20px;
    width: 30%;
    height: 20%;
}
.number {
    color: var(--color3);
    background-color: var(--color2);
}
.number:hover, .number:focus {   
    box-shadow: var(--shadowColor2);
}
.calculator{
    color: var(--color1);
    background-color: var(--color3);
    font-size: 80px;
}
.calculator:hover, .calculator:focus{
    box-shadow: var(--shadowColor3);
}
.methodCalculateNumber{
    border: none;
    width: 21%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.methodCalculate{
    color: var(--color3);
    background-color: var(--color4);
    width: 100%;
}
.methodCalculate:hover, .methodCalculate:focus{
    box-shadow: var(--shadowColor4);
}
button {
    box-shadow: var(--shadow1);
    border: none;
    transition-duration: 0.3s;
}
button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
button:focus {
    outline: none;
    cursor: pointer;
    transform: translateY(-3px);
}
.historyCalculate {
    color: var(--color3);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 1%;
    height: 90%;
    width: 20%;
    background-color: var(--color1);
}
.themePick{
    width: 100%;
    height: 5%;
    border-bottom: 1px solid var(--color3);
}
.divHistoryDatas{
    width: 100%;
    height: 95%;
}
.titleHistory{
    margin: 0;
    height: 5%;
}
.historyDatas{
    border-radius:10px ;
    padding: 5% 5%;
    height: 90%;
    border :1px solid var(--color3);
    overflow: scroll;
}
.historyDivAData{
    margin-bottom: 10px;
    border-radius: 10px;
    color: var(--color3);
    display: flex;
    width: 100%;
    height: 6%;
    border-bottom: 1px solid var(--color4);
    background-color: var(--color2);
    transition-duration: 0.3s;
}
.historyDivData{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.historyDivAData:hover {
    cursor: pointer;
    transform: translateY(-2px);
    font-weight: bold;
    color: var(--color1);
    background-color: var(--color4);
    box-shadow: var(--shadowColor4);
}